src/main/mule/jenkins-ci-cd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9233ddcf-acc4-44a5-b387-320837e55fb6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkins-ci-cdFlow" doc:id="94ac92d7-92a6-4530-93dd-b2eb98c11ee2" >
		<http:listener doc:name="Listener" doc:id="535dec05-8466-4ec8-ad51-84d365091d27" config-ref="HTTP_Listener_config" path="/api"/>
		<set-variable value="#[attributes.queryParams.num1 as Number]" doc:name="Set Variable" doc:id="374e8256-0fa0-4d17-8313-415a2606533e" variableName="x"/>
		<set-variable value="#[attributes.queryParams.num2 as Number]" doc:name="Set Variable" doc:id="134668b8-94ac-4314-a100-f95d27095e5b" variableName="y"/>
		<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  sum: vars.x + vars.y&#10;}]" doc:name="sum" doc:id="80f92b0a-737b-4da4-bd81-44ad564efa05" />
	</flow>
</mule>
